.container {
  min-height: 100vh;
}

.main-layout {
  padding: 2rem 10rem;
}

/*
COLORS

Primary: #D77FA1
Primary light: #BAABDA
Primary blue: #D6E5FA
Primary white:#FFF9F9

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999
*/
:root {
  --color-primary:#D77FA1;
  --color-primary-purple:#BAABDA;
  --color-primary-blue:#D6E5FA;
  --color-primary-white:#FFF9F9;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2:#f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.068);
  --line:1px solid var(--color-grey-light-2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  padding: 0 4rem;
  min-height: 100vh;
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.header {
  background-image: url(../img/header2.jpg);
  background-size: 220rem;
  height: 100vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: radial-gradient(circle, rgba(214, 229, 250, 0.675805) 18%, rgba(215, 127, 161, 0.524545) 94%);
}

.header-upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25%;
  padding: 3rem 4rem;
  z-index: 20;
  position: relative;
}

.header-logo {
  height: 100%;
}

.header .user-nav {
  font-size: 3.5rem;
  cursor: pointer;
}

.header .user-nav a:link,
.header .user-nav a:visited {
  text-decoration: none;
  color: var(--color-primary-white);
  font-weight: 600;
  -webkit-transition: .2s;
  transition: .2s;
}

.header .user-nav a:link:hover,
.header .user-nav a:visited:hover {
  color: var(--color-primary);
  text-shadow: 1px 1px 4px #fcfbfb;
}

.header-txt {
  margin-top: 2rem;
  position: absolute;
  right: 0;
  margin-right: 4rem;
  z-index: 10;
}

.header-txt-main-p, .header-txt-sub-p {
  color: var(--color-primary-white);
  font-weight: 1000;
}

.header-txt-main-p {
  font-size: 6rem;
}

.header-txt-sub-p {
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.package {
  background-color: var(--color-primary-white);
  margin-top: -25vh;
  padding-top: 25vh;
  padding-bottom: 25vh;
}

.package-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  padding: 1.5rem;
  color: var(--color-primary);
}

.package-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.package-cards .package-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--color-primary-blue);
  margin-bottom: 1rem;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.315);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.315);
}

.package-cards .package-card:first-child {
  margin-right: 10rem;
}

.package-cards .package-card p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.package-cards .package-card-main-title {
  font-weight: 1000;
  font-size: 4.5rem;
  color: var(--color-primary);
}

.package-cards .package-card-sub-title {
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--color-primary);
}

.package-cards .package-card-sub-title:nth-child(7) {
  margin-bottom: 4rem;
}

.package-cards .package-card-bg {
  width: 50rem;
  height: 25rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative;
}

.package-cards .package-card-bg img {
  width: 100%;
  height: 100%;
}

.package-cards .package-card-bg::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: #d6e5fa;
  background: linear-gradient(72deg, rgba(214, 229, 250, 0.675805) 24%, rgba(215, 127, 161, 0.524545) 80%);
}

.btn, .btn:link, .btn:visited {
  margin: auto;
  text-decoration: none;
  width: 70%;
  font-size: 3.5rem;
  background-color: pink;
  text-align: center;
  color: var(--color-primary-blue);
  font-weight: 1000;
  margin-bottom: 4rem;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
}

.btn:hover, .btn:link:hover, .btn:visited:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.178);
          box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.178);
}

.btn:active, .btn:link:active, .btn:visited:active {
  outline: none;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0px 0.5rem 0.5rem rgba(0, 0, 0, 0.178);
          box-shadow: 0px 0.5rem 0.5rem rgba(0, 0, 0, 0.178);
}

.btn:active::after, .btn:link:active::after, .btn:visited:active::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.section-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20rem 7rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(215, 127, 161, 0.8)), to(rgba(255, 249, 249, 0.8))), url(../img/forest.jpg);
  background-image: linear-gradient(to right bottom, rgba(215, 127, 161, 0.8), rgba(255, 249, 249, 0.8)), url(../img/forest.jpg);
  background-size: cover;
  margin-top: -15rem;
  -webkit-clip-path: polygon(0 20vh, 100% 0, 100% 80vh, 0 100%);
          clip-path: polygon(0 20vh, 100% 0, 100% 80vh, 0 100%);
}

.feature-box {
  background-color: rgba(255, 249, 249, 0.8);
  width: 20%;
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.feature-box-icon {
  margin-bottom: .5rem;
  font-size: 6rem;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#D77FA1), to(#BAABDA));
  background-image: linear-gradient(to right, #D77FA1, #BAABDA);
  -webkit-background-clip: text;
  color: transparent;
}

.feature-box-heading {
  color: #777;
  margin-bottom: 1rem;
}

.feature-box:hover {
  -webkit-transform: translateY(-1.5rem) scale(1.03);
          transform: translateY(-1.5rem) scale(1.03);
}

.feature-box-text {
  color: #777;
}

.section-packages {
  padding: 25rem 0;
  width: 100%;
  background-color: #FFF9F9;
  margin-top: -20rem;
}

.section-packages-cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.package-card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
}

.package-card-side {
  background-color: orange;
  width: 30rem;
  height: 50rem;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.package-card-side-front {
  background-color: #fff;
}

.package-card-side-front-single-picture {
  background-image: url("../img/Sabina fishman photo-2.jpg");
}

.package-card-side-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.package-card-side-back-single {
  background: -webkit-gradient(linear, left top, right bottom, from(#BAABDA), to(#faf9f9));
  background: linear-gradient(to bottom right, #BAABDA, #faf9f9);
}

.package-card-side-back-family {
  background: -webkit-gradient(linear, left top, right bottom, from(#D6E5FA), to(#f0eeee));
  background: linear-gradient(to bottom right, #D6E5FA, #f0eeee);
}

.package-card:hover .package-card-side-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.package-card:hover .package-card-side-back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.about {
  background-image: url(../img/nature2x.jpg);
  background-size: cover;
  position: relative;
  height: 85vh;
}

.about-cards {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
}

.about-card {
  border: 1px solid gray;
  background-color: var(--color-primary-white);
}

.about-card:not(:last-child) {
  margin-right: 6rem;
}

.about-card-icons {
  height: 8rem;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--color-primary-white)), to(var(--color-primary)));
  background-image: linear-gradient(to right, var(--color-primary-white), var(--color-primary));
  -webkit-background-clip: border-box;
  color: transparent;
  display: inline-block;
}

.about::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  background: #fffcdc;
  background: linear-gradient(166deg, rgba(255, 252, 220, 0.61) 41%, rgba(217, 167, 199, 0.404) 100%);
}

.gallery {
  width: 100%;
  background-color: var(--color-primary-blue);
  padding: 5rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.gallery-photo {
  height: 40rem;
  width: 40rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: .5rem;
}
/*# sourceMappingURL=main.css.map */