$color-primary-pink: #d77fa1;
$color-primary-purple: #baabda;
$color-primary-white: #fff9f9;
$color-primary-blue: #d6e5fa;
$color-primary-purple-2: #ce7bb0;
$color-primary-blue-2: #1572a1;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #eef0f0;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-primary: #d77fa1;
$color-gray-dark: #777;
$color-white: #fff;
$color-black: rgb(0, 0, 0);
