$color-primary-pink:#D77FA1;
$color-primary-purple:#BAABDA;
$color-primary-white:#FFF9F9;
$color-primary-blue:#D6E5FA;
$color-primary-purple-2:#CE7BB0;
$color-primary-blue-2:#1572A1;

$color-grey-light-1: #faf9f9;
$color-grey-light-2:#f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-primary:#D77FA1;
$color-gray-dark:#777;
$color-white:#fff;
$color-black:rgb(0, 0, 0);


